# Temp files
*~
.#*
\#*#
session.*
# Install these yourself
# color-theme:
#   http://www.nongnu.org/color-theme/
# ensime:
#   http://github.com/aemoncannon/ensime/downloads
# auto-complete:
#   http://cx4a.org/software/auto-complete/
ac-slime
auto-complete
clojure-mode
elpa
color-theme*
org-mode

# Machine-local files
*.dat
